@font-face {
  font-family: "Pixellari";
  src: url(../fonts/Pixellari.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Pixellari", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}

.div {
  width: calc(100vw / 3);
  height: 100vh;
}

.divCentral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*depois passar para um arquivo a parte*/
.divImagemCentral img {
  width: 100%;
}

.divMoedas {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.divMoedas > img {
  width: 15px;
}